@use "./partials/variables" as v;
@use "./partials/mixins" as m;
@import "../css/normalize.css";

body {
	background: v.$primary-bg;
}

.morse-code {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-family: v.$primary-font;
	margin: auto;

	&__heading {
		margin-top: 3rem;
		margin-bottom: 4rem;
		text-transform: uppercase;
		line-height: 1.2;
		background-color: v.$darker-bg;
		padding: 1rem;
		color: white;
		border-radius: 10px;

		@include m.mobile-media-query {
			margin: 1rem;
		}
	}

	&__translators {
		@include m.flex-center;
		width: 100%;
		margin: 0 auto;
		max-width: 1200px;

		@include m.mobile-media-query {
			flex-direction: column;
			gap: 1rem;
		}

		&__english,
		&__morse {
			@include m.flex-center;
			flex-direction: column;
			gap: 0.5rem;
			text-align: left;
			width: 100%;

			&__label {
				letter-spacing: 0.15em;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: bold;
			}

			&__input {
				padding: 1rem;
				resize: none;
				width: calc(100% - 4rem);
				border-radius: 10px;
				font-family: v.$primary-font;
				font-weight: 600;
				color: black;
				font-size: 20px;

				&::placeholder {
					font-weight: 400;
					color: rgb(188, 186, 186);
				}
			}
		}
	}
}

.index {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 1200px;
	justify-content: center;
	gap: 1rem;
	padding-bottom: 2rem;

	&__heading {
		padding-top: 2rem;
		margin: 2rem;
	}

	&__item {
		display: flex;
		flex-direction: row;
		width: 140px;
		text-align: left;
		background-color: white;
		border-radius: 10px;
		color: black;
		font-size: 20px;
		font-weight: bold;
		letter-spacing: 0.2em;
		overflow: hidden;

		&__key {
			text-align: center;
			padding: 0.5rem;
			background-color: v.$darker-bg;
			height: 100%;
			width: 20%;
			color: white;
		}

		&__value {
			text-align: center;
			padding: 0.5rem;
		}
	}
}
