@use "./variables" as v;

@mixin mobile-media-query {
	@media screen and (max-width: v.$mobile-breakpoint) {
		@content;
	}
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
